<div class="header">
  <div class="Box_CurrentExchangeRate">
    <div class="CurrentExchangeRate">
      <span>Поточна дата: </span>
      <span style="color: hotpink;">{{date | date: 'dd.MM.yyyy'}}</span>
      <div style=" margin-right: 30px; margin-top: 2%; color:hotpink;">
        <span style="color: white">Курси валют: </span>
            <span> USD </span>
            <span>{{data[0].buy|number: '1.1-1'}}</span>
            <span> /</span>
            <span style=" margin-right: 10px;"> {{data[0].sale|number: '1.1-1'}} </span>
            <span> EUR  </span>
            <span>{{data[1].buy|number: '1.1-1'}}</span>
            <span> /  </span>
            <span> {{data[1].sale|number: '1.1-1'}}  </span>
            <div></div>
      </div>
    </div>
  </div>
</div>
