// .container {
//     width: 1000px;
//     background-color: lavender;
//     display: flex;
//     justify-content: center;

// }
.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: Url('https://cdn.pixabay.com/photo/2022/05/03/09/46/scrapbooking-7171360__340.jpg');
    
}
// .header {
//     display: flex;
//     width: 100%;
//     border-bottom: 5px solid rgb(168, 194, 209);
//     height: 70px;
//     background-color: dimgray;
// }